<header>
<div class="collapse bg-dark" id="headerNav">
<div class="container">
<div class="row">
<div class="col-sm-8 col-md-7 py-4">
<h4 class="text-white">About</h4>
<p class="text-muted">北理镜像站是由北京理工大学网络开拓者协会负责运营的开源镜像站</p></div>
<div class="col-sm-4 offset-md-1 py-4">
<h4 class="text-white">Contact</h4>
<ul class="list-unstyled">
<li><a href="http://www.bit.edu.cn/" class="text-white">北京理工大学官网</a></li>
<li><a href="https://www.bitnp.net/" class="text-white">网络开拓者协会(BITNP)主页</a></li>
<li><a href="https://www.bitnp.net/" class="text-white">加入我们</a></li>
<li><a href="https://www.bitnp.net/" class="text-white">联系我们</a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="navbar navbar-dark bg-dark box-shadow">
<div class="container d-flex justify-content-between">
<a href="javascript:;" class="navbar-brand d-flex align-items-center" onclick="gotoIndex()">
<strong>北理镜像站</strong></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerNav" aria-controls="navbarHeader" aria-expended="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
</div>
</div>
</header>
<script>function gotoIndex() {window.location.href = window.location.origin;}</script>