	<!-- FOOTER -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="row col-md-7">
					<div class="col-md-4">
						<div class="f-widget f-widget3">
							<h5>联系我们</h5>
							<div class="f-info">
								<p><a href="https://github.com/bitnp"><i class="fa fa-github"></i> github</a></p>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="f-widget f-widget1">
							<h5>关于我们</h5>
							<ul class="f-links">
								<li><a href="http://www.bit.edu.cn/">北京理工大学</a></li>
								<li><a href="https://www.bitnp.net/">网络开拓者协会</a></li>
								<!-- <li><a href="javascript:(0);">镜像站开发团队</a></li> -->
							</ul>
						</div>
					</div>

					<div class="col-md-4">
						<div class="f-widget f-widget2">
							<h5>特别鸣谢</h5>
							<ul class="f-links">
								<li><a href="https://mirrors.tuna.tsinghua.edu.cn/">Tuna</a></li>
							</ul>
						</div>
					</div>

				</div>

				<div class="f-widget f-widget4 col-md-5">
					<img src="/images/bitnp.jpg" alt="">
<!-- 					<h5>Newsletter</h5>
					<p>Be the first to sign up for our latest news & promotions:</p>
					<form class="newsletter">
						<input type="email" placeholder="Enter your email address">
						<button type="submit"><i class="fa fa-angle-right"></i></button>
					</form>
					<div class="space50"></div>
					<h5>Follow Us</h5>
					<ul class="f-social">
						<li><a href="#" class="fa fa-facebook"></a></li>
						<li><a href="#" class="fa fa-twitter"></a></li>
						<li><a href="#" class="fa fa-rss"></a></li>
						<li><a href="#" class="fa fa-linkedin"></a></li>
					</ul> -->
				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="footer-bottom-wrap">
					<div class="row">
						<div class="col-md-12">
							<!-- <p>&copy; Copyright 2015. All Rights Reserved.</p> -->
							<p>
								<span style="display:inline-block;">北京理工大学网络信息技术中心支持创办。</span>
								<span style="display:inline-block;">Copyleft <span class="copyleft">(Copyleft)</span> 1997-2018 <a href="https://www.bitnp.net">Net Pioneer Association of BIT</a>. Special thanks to TUNA. Designed by Zengwei.</span>
							</p>
						</div>
<!-- 						<div class="col-md-6">
							<ul class="payment">
								<li><a href="#"><img src="images/ico/p1.png" alt=""/></a></li>
								<li><a href="#"><img src="images/ico/p2.png" alt=""/></a></li>
								<li><a href="#"><img src="images/ico/p3.png" alt=""/></a></li>
								<li><a href="#"><img src="images/ico/p4.png" alt=""/></a></li>
							</ul>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</footer>