<aside class="col-md-3 mt-3">

	<div class="side-widget cat">
		<h5>正则查找</h5>
		<form class="side-search" onsubmit="return false;">
			<input type="text" id="input_search_mirror_name" placeholder="比如：^apache">
			<button type="button"><i id="search_mirror_name" class="fa fa-search"></i></button>
		</form>
	</div>

  <div class="side-widget cat">
    {{!-- <img src="images/bitnp.jpg" alt="" /> --}}
      <h5>镜像使用说明</h5>
      <p>本网站是由北京理工大学网络开拓者协会开发维护的开源镜像网站。
      {{!-- <br>可由左侧入口查看镜像帮助，与我们一起搞事或由页底入口联系到本协会。 --}}
      </p>
  </div>

<!-- 	<div class="side-widget cat">
		<h5>按字母分类(不分大小写)</h5>
		<ul class="side-list">
			<li><a href="#">A-C <span>(63)</span></a></li>
			<li><a href="#">D-G <span>(40)</span></a></li>
			<li><a href="#">H-J <span>(282)</span></a></li>
			<li><a href="#">K-N <span>(73)</span></a></li>
			<li><a href="#">O-Q <span>(61)</span></a></li>
			<li><a href="#">R-T <span>(95)</span></a></li>
			<li><a href="#">U-W <span>(53)</span></a></li>
			<li><a href="#">X-Z <span>(21)</span></a></li>
		</ul>
	</div>

	<div class="side-widget archive">
		<h5>按发布时间分类</h5>
		<ul class="side-list" id="list-last-update">
			<li><a href="#">2018年6月(23)</a></li>
			<li><a href="#">2018年5月(56)</a></li>
			<li><a href="#">2018年4月(71)</a></li>
			<li><a href="#">2018年3月(55)</a></li>
			<li><a href="#">2018年2月(38)</a></li>
			<li><a href="#">2018年1月(314)</a></li>
		</ul>
	</div> -->

	{{!-- <div class="side-widget login">
		<div class="dual-btns">
			<a href="/helps" class="btn-1 text-center text-white">镜像使用帮助</a>
		</div>
	</div>

	<div class="side-widget login">
		<div class="dual-btns">
			<a href="/submit_mirror" class="btn-1 text-center text-white">提交镜像</a>
		</div>
	</div>

	<div class="side-widget login">
		<div class="dual-btns">
			<a href="/submit_help" class="btn-1 text-center text-white">提交帮助文档</a>
		</div>
	</div> --}}

<!-- 	<div class="side-widget login">
		<h5>贡献文档</h5>
		<h6>作者登陆:</h6>
		<form class="side-logreg">
			<input type="text" placeholder="Username">
			<input type="password" placeholder="Password">
		</form>
		<div class="dual-btns">
			<a href="" class="btn-1 text-center text-white">登陆</a>
			<a href="" class="btn-1 text-center text-white">前往注册</a>
		</div>
		<a href="#">忘记用户名？</a>
		<a href="#">忘记密码？</a>
	</div> -->
</aside>