<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no">
	<!-- 兼容IOS9 -->
	<title>北理镜像站 | 帮助文档</title>
    <link rel="stylesheet" href="{{ css bootstrap.min }}">
	<style>
		hr, .slideBar-hr {
			height: 1px;
			width: 100%;
		    background: #fff;
		}
		.slideBar-hr {
			background-color: #000;
		}
		blockquote {
	        border-left:#eee solid 5px;
	        padding-left:20px;
	    }
	    ul li {
	        line-height: 20px;
	        list-style: none;
	    }

	    code {
	        color:#D34B62;
	        background: #F6F6F6;
	    }
	 	#result {
	 		text-align: left;
	 	}
		.md-radius {
			border-radius: 10px;
		}
		.md-shadow {
			box-shadow: 15px 15px 20px #888;
		}

	</style>
</head>
<body>
	
    {{ template body_header }}

	<main>
		<section class="jumbotron">
			<div class="container">
				<h1 class="text-center mb-5">镜像帮助文档</h1>
				<div class="input-group mb-5 mt-5">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon3">请输入镜像名</span>
					</div>
					<input type="text" class="form-control" id="input-query" aria-describedby="basic-addon3">
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" id="btn-search">搜索</button>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-md-3"><ul class="nav flex-column nav-pills" id="md-slideBar"></ul></div>
					<div class="col-md-9"><div id="tabContent" class="bg-dark text-white p-3 md-radius md-shadow"></div></div>
				</div>
			</div>
		</section>
		<div class="py-5 bg-light">
			<div class="container" id="main_container">

			</div>
		</div>
	</main>

	{{template body_footer}}
	
    <script src="{{ js jquery.min }}"></script>
    <script src="{{ js popper.min }}"></script>
    <script src="{{ js bootstrap.min }}"></script>
    <script src="{{ js showdown.min }}"></script>
    <script src="{{ js socket.io-2.0.3 }}"></script>
    <script src="{{ js functions }}"></script>
    <script>
		requests = GetRequest();
        var socket = io('{{IPAddress}}');
        socket.emit('data', {
          "type": "mdlist"
        });
        socket.on('data',
        function(data) {
          // console.log(data);
          data = dataFilter(data);
          // console.log(data);
          window.data = data;
          loadHTML(data.datas);
        });
        
        // 加载网页内容
        function loadHTML(data) {
        	var row = 0;
			var slideBar = document.getElementById("md-slideBar");
        	for (var mir = 0; mir < data.length; mir++) {
	            var path = data[mir].path;
	            if(path == "default.md") continue;
	            var type = data[mir].type;
	            var li = null;
	            if(type == "file") {
					li = document.createElement('li');
					li.className = 'nav-item';
					a = document.createElement('a');
					a.className = 'nav-link';
					a.href = '?mirror='+path.substring(0,path.length - 3);
					a.innerText = path.substring(0,path.length - 3);
					li.appendChild(a);
					slideBar.insertBefore(li, slideBar.firstChlid);
            	}
	        }
			var staticNodes = '<hr class="slideBar-hr"><li class="nav-item"><a class="nav-link" href="../mirrors">进入下载页</a></li><li class="nav-item"><a class="nav-link" href="../">回到主页</a></li>';
			slideBar.innerHTML += staticNodes;
        }

        // 搜索按钮
        $('#btn-search').click(function() {UrlJump({"query": $("#input-query").val()});});

        // 回车执行搜索
        $("#input-query").keydown(function(e) {switch (e.keyCode) {case 13:UrlJump({"query":$("#input-query").val()});break;default:break}});

        window.onload = function() {

                var ajax;

                /*1.创建XMLHttpRequest对象*/
                if(window.XMLHttpRequest) {
                    //  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
                    ajax = new XMLHttpRequest();
                } else {
                    // IE6, IE5 浏览器执行代码
                    ajax = new ActiveXObject("Microsoft.XMLHTTP");
                }
                if(requests['mirror']) {
	                /*设置请求方式和地址  默认是异步*/
	                path = '_help/'+requests['mirror'];
	               	console.log($("title"));
	                ajax.open("GET", path + '.md');
	                /*发送请求*/
	                ajax.send();
                } else {
                	ajax.open("GET", "./_help/default.md");
                	ajax.send();
                }

                /*注册回调函数*/
                ajax.onreadystatechange = function() {
                    if(ajax.readyState == 4 && ajax.status == 200) {
                        let Convertor = new showdown.Converter();
                        let res = ajax.responseText;
                        let html = Convertor.makeHtml(res);
                        document.getElementById("tabContent").innerHTML = html;
                        $("#HowToDownloadMirrors").hide();
                    }
                }
            
        }
    </script>
</body>
</html>
